html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

span#temperature {
  font-family: "Courier New", Courier, monospace;
}

.search-result {
  display: none;
  max-width: 300px;
  padding: 2rem;
  border-radius: 5px;
  margin: 4rem auto;
  background-color: var(--primary-dark);
  color: var(--primary-light);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.search-result.active {
  display: block;
}

.search-result * {
  padding: 0.5rem;
  text-align: center;
}

.search-result h3 {
  border-radius: 5px;
  color: var(--secondary-light);
  font-size: 4rem;
}

.search-result p:nth-child(2) {
  font-size: 3.6rem;
}

.search-result p {
  font-size: 2rem;
}
